@tailwind base;
@tailwind components;
@tailwind utilities;

/* Các CSS tùy chỉnh khác của bạn ở dưới này (nếu có) */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f3f4f6; /* Màu nền xám nhạt (bg-gray-100) */
}